.header-text{
	width: 530px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	margin: auto 0px;
}

h2.site-title, h2.site-title a, h2.site-title a:link, h2.site-title a:hover, h2.site-title a:visited {
	color: #747373;
	font-size: 24px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3.site-description, h3.site-description a, h3.site-description a:link, h3.site-description a:hover, h3.site-description a:visited {
	color: #747373;
	font-size: 18px;
	font-family: Georgia;
}
.mobile-header-text{
	width: 300px;
	float: left;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2.mobile-site-title, h2.mobile-site-title a, h2.mobile-site-title a:link, h2.mobile-site-title a:hover, h2.mobile-site-title a:visited {
	color: #747373;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
		
h3.mobile-site-description, h3.mobile-site-description a, h3.mobile-site-description a:link, h3.mobile-site-description a:hover, h3.mobile-site-description a:visited {
	color: #747373;
	font-size: 14px;
	font-family: Georgia;
}