/* Style for the Orange colored theme */

a, a:link, a:visited, a:hover{
	color: #A04300;
}

#branding-background{
	background-color: #A04300;
}

#footer{
	background: #B24A00;
}

/* Top Menu */
#top-menu {
	background: #bcbcbc;
}

#top-menu a {
	color: #FFFFFF;
}

#top-menu ul ul a {
	background: #B24A00;
	color: #FFFFFF;
}
#top-menu li:hover > a,
#top-menu ul ul :hover > a,
#top-menu a:focus {
	background: #bcbcbc;
}

#top-menu li:hover > a,
#top-menu a:focus {
	background: #B24A00;
	color: #FFFFFF;
}

/* Main Menu */
#main-menu {
	background: #B24A00;
}

#main-menu a {
	color: #FFFFFF;
}

#main-menu ul ul a {
	background: #bcbcbc;
	color: #FFFFFF;
}

#main-menu li:hover > a,
#main-menu ul ul :hover > a,
#main-menu a:focus {
	background: #B24A00;
}

#main-menu li:hover > a,
#main-menu a:focus {
	background: #bcbcbc;
	color: #FFFFFF;
}

/* Featured Post Slideshow */
.slide{
	border: 1px solid #000000 !important;
}

.slide-photo{
	border-right: 5px solid #C86B00;;
}

.slide-panel{
	background: #FFFFFF;
	border-left: 5px solid #C86B00;
	border-right: 3px solid #000000;
}

h3.slide-panel-title, h3.slide-panel-title a, h3.slide-panel-title a:link, h3.slide-panel-title a:visited, h3.slide-panel-title a:hover{
	color: #C86B00;
}

.next{
	border: 1px solid #000000;
}

.prev{
	border: 1px solid #000000;
}

/* Home Posts Area */
.home-title-bg{
	background: #B24A00;
}

.photo-post-details{
	color: #FFFFFF;
	background-color: rgba(178,74,0,.85);
}

h3.home-headline, h3.home-headline a, h3.home-headline a:link, h3.home-headline a:hover, h3.home-headline a:visited{
	color: #C86B00;
}

.home-view-all{
	background: #B24A00;
	color: #FFFFFF;
}

.home-view-all:hover{
	background: #bcbcbc;
	color: #000000 !important;
}

.home-next{
	background: #B24A00;
	color: #FFFFFF;
}

.home-next:hover{
	background: #bcbcbc;
	color: #000000 !important;
}

/* Latest Posts */
.latest-posts-title-bg{
	background: #B24A00;
}

.latest-posts-photo{
	border: 1px solid #C86B00;
}

h5.latest-posts-headline, h5.latest-posts-headline a, h5.latest-posts-headline a:link, h5.latest-posts-headline a:visited, h5.latest-posts-headline a:hover{
	color: #C86B00;
}

/* Single Post Styles */
h3.single-headline{
	color: #C86B00;
}

.single-meta-table{
	background-color: #C86B00;
}

/* Archive, Author, Category, Search & Tag Styles */
h1.archive-title{
	color: #C86B00;
}

.archive-separator{
	background: #B24A00
}

.archive-comments{
	color: #FFFFFF;
	background-color: rgba(178,74,0,.85);
}

.archive-comments, .archive-comments a, .archive-comments a:link, .archive-comments a:visited, .archive-comments a:hover{
	color: #FFFFFF;
}

h3.archive-headline, h3.archive-headline a, h3.archive-headline a:link, h3.archive-headline a:hover, h3.archive-headline a:visited{
	color: #C86B00;
}

p.archive-meta-text, p.archive-meta-text a, p.archive-meta-text a:link, p.archive-meta-text a:hover, p.archive-meta-text a:visited{
	color: #C86B00;
}

.archive-continue:hover{
	background: #bcbcbc;
	color: #000000;
}

.archive-previous-posts{
	background: #B24A00;
	color: #FFFFFF;
}

.archive-previous-posts:hover{
	background: #bcbcbc;
	color: #000000;
}

.archive-next-posts{
	background: #B24A00;
	color: #FFFFFF;
}

.archive-next-posts:hover{
	background: #B24A00;
	color: #000000;
}

/* Comments Styles */
h3#comments{background: #B24A00;}
#respond h3{background: #B24A00;}
.reply,.comment-navigation .newer a,.comment-navigation .older a,input#submit{background: #bcbcbc;}
a.comment-reply-link,.reply a:link,
.comment-navigation .newer a,.comment-navigation .older a,input#submit{color:#fff}
a.comment-reply-link:hover,.reply a:hover,.comment-navigation .newer a:hover,
.comment-navigation .older a:hover,input#submit:hover{color:#FFFFFF; background: #B24A00;}

/* Widget Styles */
.widget-title-bg{
	background: #B24A00;
}

h3.widget-title{
	color: #FFFFFF;
}

p.widget-body, p.widget-body a, p.widget-body a:link, p.widget-body a:visited, p.widget-body a:hover{
	color: #C86B00;
}

/* WP Calendar Styles */
#wp-calendar caption { color: #C86B00;}
#wp-calendar thead { color: #FFFFFF; background: #B24A00;}
#wp-calendar tbody { color: #aaa; }

/* Tablet Styles */
.tablet-slide{
	border: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
}

.tablet-slide-panel{
	background-color: rgba(178,74,0,.85) !important;
}

/* Mobile Styles */
/* General Styles */
#mobile-branding-background{
	background-color: #A04300;
}

#mobile-footer{
	background: #B24A00;
}

/* Main Menu */
#mobile-main-menu {
	background: #B24A00;
}

.mobile-main-menu-area{
	background-color: #B24A00;
	color: #FFFFFF;
}

/* Featured Post Slider */
.mobile-slide-panel{
	background-color: rgba(178,74,0,.85) !important;
}

/* Homepage Styles */
.mobile-home-title-bg{
	background: #B24A00;
}

.mobile-photo-post-details{
	color: #FFFFFF;
	background-color: rgba(178,74,0,.85) !important;
}

.mobile-home-view-all{
	background: #B24A00;
}

.mobile-home-next{
	background: #B24A00;
	color: #FFFFFF;
}

.mobile-latest-posts-title-bg{
	background: #B24A00;
}

.mobile-latest-posts-photo{
	border: 1px solid #C86B00;
}

h5.mobile-latest-posts-headline, h5.mobile-latest-posts-headline a, h5.mobile-latest-posts-headline a:link, h5.mobile-latest-posts-headline a:visited, h5.mobile-latest-posts-headline a:hover{
	color: #C86B00;
}

/* Single Post */
h3.mobile-single-headline{
	color: #C86B00;
}

.mobile-single-meta-table{
	background-color: #C86B00;
}

/* Archive, Author, Category, Search & Tag Styles */
h1.mobile-archive-title{
	color: #C86B00;
}

.mobile-archive-separator{
	background: #B24A00;
}

.mobile-archive-comments{
	color: #FFFFFF;
	background-color: rgba(178,74,0,.85);
}

h3.mobile-archive-headline, h3.mobile-archive-headline a, h3.mobile-archive-headline a:link, h3.mobile-archive-headline a:hover, h3.mobile-archive-headline a:visited{
	color: #C86B00;
}

p.mobile-archive-meta-text, p.mobile-archive-meta-text a, p.mobile-archive-meta-text a:link, p.mobile-archive-meta-text a:hover, p.mobile-archive-meta-text a:visited{
	color: #C86B00;
}

.mobile-archive-continue{
	width: 140px;
	height: 20px;
	background: #B24A00;
	color: #FFFFFF;
	float: right;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}

.mobile-archive-previous-posts{
	width: 120px;
	height: 25px;
	float: left;
	position: relative;
	background: #B24A00;
	color: #FFFFFF;
	margin-bottom: 3px;
	margin-left: 3px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

.mobile-archive-next-posts{
	width: 120px;
	height: 25px;
	float: right;
	position: relative;
	background: #B24A00;
	color: #FFFFFF;
	margin-bottom: 3px;
	margin-right: 3px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}