/* Style Sheet for Green Tablet Theme */
.tablet-slide{
	border: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
}

.tablet-slide-panel{
	background-color: rgba(4,60,0,.85) !important;
}