/* Style Sheet for Red Tablet Theme */
.tablet-slide{
	width: 570px !important;
	height: 285px;
	border: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
}

.tablet-slide-panel{
	background-color: rgba(110,0,0,.85) !important;
}